# Deny all by default
*
!*/

# Allow list
!.gitignore

## Documentation
!**/*.md

## Rules
!.windsurfrules
!.cursorrules
!.github/copilot-instructions.md

## Linting
!.markdownlint.json
!.vale.ini
!cspell.config.yaml

## Legal
!ATTRIBUTION
!LICENSE

# Explicit deny list
.history
.vale/styles
